
/*************导航栏******************/
body {
  padding-top: 50px;
  background: url(/static/img/bg.png) center top repeat;
}

.navbar-default {
  background-color: rgba(91, 192, 222, 0.85);
  background-image: none;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #FEF3D7;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand{
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: white;
}

/************************************/

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 18px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

.row .noleft {
  padding-left: 0px;
}

.row .title {
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 5px;
}

.row .tag {
  font-size: 13px;
  margin: 0px;
}

.row .avatar {
  width: 50px;
}

.row .jump {
  margin-top: 20px;
  visibility: hidden;
}

.right {
  float: right;
}

.title {
  font-family: fantasy;
  font-size: 30px;
}

.title font {
  font-size: 20px;
}

.src_img {
  width: 16px;
  height: 16px;
}

<!-- for loading -->
svg path,
svg rect{
  fill: #FF6700;
}
<!-- loading end -->

.container {
  width: 860px;
}
